<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <header id="head">
        <nav class="navbar navbar-inverse" role="navigation" >
          
            <div class="container"
                <div>
                  
        <a class="nav-link" href='/'>Home</a>
        <a class="nav-link" href='/beers'>Beers</a>
        <a class="nav-link" href='/random-beer'>Ramdon Beer</a>
      </div>
    </nav>
    </header>

    {{{body}}}

    <footer><p>Developed with ♥️ by Robert</p></footer>

  </body>
</html>